.factoryDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 10px;
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(78, 78, 78);
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.5s;

    
}
.filled {
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.5s;
}
.filled:hover {
    top: -5px;
    left: -5px;
    box-shadow: 10px 10px 10px rgb(78, 78, 78);

}

.tile {
    width: 30px;
    height: 30px;
    margin: 5px;
    /* border: 1px solid silver; */
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
    border-radius: 2px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.5s;

}
.tile:hover {
    top: -2px;
    left: -2px;
    box-shadow: 4px 4px 7px rgb(78, 78, 78);
}