.factoryDisplay {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: antiquewhite;
    
}
.tile {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid silver;
}