.factoryDisplay {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    
}
.tile {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid silver;
    
}