.lineContainer {
    display: flex;
    flex-direction: row-reverse;
}
.tile {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid silver;
    pointer-events: none;
    
}
.empty {
    
    border: 1px solid black;
}