.container {
    margin-top: 130px;
}
a {
    font-weight: 900;
    font-size: 68px;
    text-decoration: none;
    color: black;
    line-height: 68px;
    transition: all 0.5s;
}
a:hover {
    font-size: 72px;
    color: red;
    line-height: 68px;
} 
a:active {
    font-size: 64px;
    line-height: 68px;
}
.players {
    font-size: 32px;
}

