.container {
    margin-top: 80px;
}
.heading {
    font-weight: 900;
    font-size: 100px;
}
a {
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
    color: black;
    line-height: 42px;
    transition: all 0.5s;
}
.ready {
    animation: 1s infinite alternate blink;
}
a:hover {
    font-size: 42px;
    color: red !important;
    line-height: 42px;
} 
a:active {

    font-size: 36px;
    line-height: 42px;
}
.players {
    font-size: 32px;
}

@keyframes blink {
    from {
        color:black;
    }
    to {
        color: red;
    }
}

