.displaysContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.info {
    height: 40px;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
}
button {
    font-size: 24px;
    font-family: inherit;
    padding: 5px 50px;
    /* margin: 5px 10px; */
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
    position: relative;
    top: 0px;
    left:0px;
    transition: all 0.5s;
    white-space: nowrap;
}
button:active {
    box-shadow: none;
    top: 2px;
    left:2px;

}
button:hover {
    background-color: lightcoral;
}