@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
