.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 42px;
    padding-top: 10px;

    
}

.tile {
    width: 30px;
    min-height: 30px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgb(78, 78, 78);
    border-radius: 2px;
    background: white;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.5s;
    
}
.tile:hover {
    top: -2px;
    left: -2px;
    box-shadow: 4px 4px 7px rgb(78, 78, 78);
}